.movieList {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.pagination button {
  color: #ffffff;
}

.loading {
  min-width: 100%;
  display: flex;
  justify-content: center;
}

.movieListContainer {
  display: flex;
  flex-direction: column;
  padding: 5px 15px;
  max-height: calc(100vh - 10px);
  overflow: auto;
}

@media screen and (max-width: 425px) {
  .movieList {
    justify-content: center;
  }
}