.main {
  display: flex;
  background: #fff;
  overflow: hidden;
}

.content {
  background: #222a31;
  max-width: 100vw;
  overflow: hidden;
  color: #ffffff;
  min-height: 100vh;
}

@media screen and (max-width: 425px) {
  .content{
    margin-left: 0;
    width: 100vw;
    max-width: 100vw;
  }
}