.topbar {
  height: 50px;
  background: #ff4350;
  color: #ffffff;
  display: flex;
  align-items: center;
  font-weight: normal;
  padding: 0 20px;
  position: fixed;
  width: 100%;
  box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.73);
  -webkit-box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.73);
}

.searchInput {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 14px;
  height: 25px;
  border-radius: 5px;
  padding-left: 10px;
}

.searchInput::placeholder {
  color: #ffffff;
}

.searchInput:focus-visible {
  outline: none;
}

/* .searchInput:-internal-autofill-selected{
  background-color: #ff4350!important;
  background: #ff4350!important;
} */