.mt_1 {
  margin-top: .5em;
}

.mt_2 {
  margin-top: 1em;
}

.mt_3 {
  margin-top: 1.5em;
}

.mt_6 {
  margin-top: 3em;
}

.dFlex {
  display: flex;
}

.flexBetweenCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexCenterCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justifyContentBetween {
  justify-content: space-between;
}

.movieList {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.pagination button {
  color: #ffffff;
}

@media screen and (max-width: 425px) {
  .movieList {
    justify-content: center;
  }
}